In [1]:
import pandas as pd
import os

In [2]:
# Step 1: List all CSV files in the directory
directory = "trackingData"
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]

# Step 2: Initialize an empty DataFrame to store merged data
merged_df = pd.DataFrame()

# Step 3: Loop through each CSV file, merge with the previous DataFrame, and filter rows
for file in csv_files:
    df = pd.read_csv(os.path.join(directory, file))
    merged_df = pd.concat([merged_df, df])

# Step 4: Filter rows where frameId equals 1
merged_df_filtered = merged_df[merged_df['frameId'] == 1]

In [4]:
merged_df_filtered.reset_index(drop=True, inplace=True)

In [6]:
columns_to_drop = ['displayName','jerseyNumber','time','club','s','a','dis','o','dir','event']
merged_df_filtered = merged_df_filtered.drop(columns=columns_to_drop)

In [8]:
merged_df_filtered.dropna(inplace=True)

In [12]:
new_columns = []
for index, row in merged_df_filtered.iterrows():
    if row['playDirection'] == 'left':
        new_columns.append(row['x'])
    else:
        new_columns.append(120 - row['x'])

In [13]:
merged_df_filtered['distanceToEndZone'] = new_columns

In [15]:
merged_df_filtered.to_csv("cleanedTrackingData.csv", index=False)

In [14]:
merged_df_filtered

,gameId,playId,nflId,frameId,playDirection,x,y,distanceToEndZone
0,2022100600,90,33084.0,1,left,90.42,23.74,90.42
1,2022100600,90,35459.0,1,left,72.07,17.04,72.07
2,2022100600,90,42030.0,1,left,80.83,33.01,80.83
3,2022100600,90,42393.0,1,left,76.84,36.27,76.84
4,2022100600,90,43307.0,1,left,85.76,23.79,85.76
...,...,...,...,...,...,...,...,...
287106,2022103100,3697,53050.0,1,left,22.13,24.48,22.13
287107,2022103100,3697,53535.0,1,left,22.02,22.57,22.02
287108,2022103100,3697,53540.0,1,left,21.72,18.45,21.72
287109,2022103100,3697,54525.0,1,left,17.40,35.48,17.40
287110,2022103100,3697,54560.0,1,left,21.89,20.37,21.89